<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.kixoft.demo.jo"
	version 	= "0.1.00">

	<name>al Horno</name>

	<description>
		Ejemplos de Sencha - Kitchen Sink.
	</description>

	<author href="https://sites.google.com/site/roberkixote/"
		email="roberto.pelaez.fernandez@gmail.com">
		Roberto Pelaez Fernandez
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="pollocampero.jpg" width="100" height="68" hover="true" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>

	<!-- sample preference specification -->
	<preference name="autorotate" value="false" readonly="true"/>
</widget>
